<html>
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>

<body>
    <h1>上传问卷文件</h1>
    <form method="POST" enctype="multipart/form-data">
        <p>
            <input type="text" name= "survey_name" />
        </p>
        <p>
            <label>选择文件</label>
            <input type="file" name="file" />
        </p>
        <button id="bt" type="">提交</button>
        <p>
        </p>

    </form>

</body>
<script>
    $('document').ready(function() {
        $('#ft').change(function() {
                var n = $("#ft").val();
            })
            // $("#bt").click(function() {
            //     $.post(
            //         url: '127.0.0.1:5000/page/upload_content/',
            //         data: {
            //             filetype: n,
            //             file:
            //         }
            //     )
            // })
    })
</script>